<p style="color: green"><%= notice %></p>

<div class="app">
  <h1>Show product</h1>

  <div class="card">
    <div class="card-body">
      <%= render @product %>
    </div>
  </div>
  
  <div>
    <%= link_to "Edit this product", edit_product_path(@product) %> |
    <%= link_to "Back to products", products_path %>

    <%= button_to "Destroy this product", @product, method: :delete %>
  </div>
</div>
