<div id="<%= dom_id sale %>">
  <div class="card">
    <div class="card-header">
      Fecha de compra: <%= Time.now %>
    <div>
    <div class="card-body">
      <h5 class="card-title">Product list:</h5>

      <%= render "sale_product_table", sale_products: sale.sale_products %>

      <p class="card-text text-center text-success">Total: <%= sale.total %></p>
    </div>
    <div class="card-footer">
      <%= Time.now %>
    </div>
  </div>
</div>